body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Home {
  margin-top: 20px;
  background-color: beige;
  border: 1px solid black;
  height: 500px;
  margin: 200px;
  border-radius: 6px;
  padding-top: 50px;
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.row {
  padding: 10px;
  margin: 10px;
}
